{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  {% if  request.user.is_Egresado %}
    
    <!-- Inicio logo de egresado y nombre para el perfil-->
    <div class="container p-0">
      <h2><br></h2>
      <h2 class="texto-borde">
      <img src="{% static 'core/img/registro/egresado_genero/hombre-egresado.png' %}" width="50" height="50" align="left"> &nbsp {{user.first_name}}
      </h2>
      <h4><br></h4>
    </div>
    <!-- Fin logo de egresado y nombre para el perfil-->
    <nav class="navbar navbar-expand-lg navbar-light bg-info section-chidori">
        <div class="container">
          <span class="navbar-brand" href="#"><i>Noticias</i></span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="nep">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pages:pages' %}"><i><b>Lista de Noticias</b></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
  {% endif %}
  {% if request.user.validate == False %}
  
  <div class="container bg-light">
  <br>
  <h2 align="center">
  <img src="{% static 'core/img/acceso_usuario/negar_acceso.png' %}" width="128" height="128" align="center">
  </h2>
  <br>
  <h2 align="justify">{{user.first_name}} tu cuenta esta siendo verificada, por favor espera confirmación... </h2>
  <br>
  </div>
  <br>
  
  {% else %}
  <div class="container mb-4 bg-light">
    {% for page in page_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto bg-light rounded border">    
          &nbsp
          <h3 class="mb-4 bg-info rounded border " align="center">{{page.title}} </h3>
          <div>
          <div class="col-md-2">
            {% if page.archive %}
                <img src="{{page.archive.url}}" class="img-fluid rounded mb-0">
                {%else %}
                <img src="{% static 'pages/img/descarga.png' %}" class="img-fluid">
              {% endif %}
              </div>
            &nbsp
            <p class="text-dark">{{page.content|striptags|safe|truncatechars:"200"}}</p>
            &nbsp
            <p><a href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
            </p>              
          </div>
        </div>        
      </div>      
    {% endfor %}
  </div>
</main>
{% endif %}
{% endblock %}
