{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{page.title}}{% endblock %}
{% block content %}
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  <div class="container bg-light">
    <br>
    <h3 class="mb-4 bg-info rounded border border-light text-dark" align="center">Noticia</h3>
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h3 class="section-heading mb-4 text-dark" align="center">{{page.title}}</h3>
        <div>
        <div class="col-md-8">
            {% if page.archive %}
                <img src="{{page.archive.url}}" class="img-fluid">
                {%else %}
                <img src="{% static 'pages/img/descarga.png' %}" class="img-fluid">
              {% endif %}
              </div>
          <br>
          <h5 class="text-dark" align="justify">{{page.content|striptags|safe}}</h5>
          <br>
          {% if request.user.is_Admon %}
            <p><a href="{% url 'pages:update' page.id %}">Editar</a></p>
            <br>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
