{% extends 'core/base.html' %}
{% load static %}
{% block title %}Noticias{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
  
    {% for page in pages %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">    
          
          <div>
            <p>{{page.content|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'page' page.id page.title|slugify %}">Leer más</a>
              <!--
              {% if request.user.is_staff %}
                | <a href="#">Editar</a>
                | <a href="#">Borrar</a>
              {% endif %}
              -->
            </p>
          </div>
        </div>
      </div>      
    {% endfor %}
  </div>
</main>
{% endblock %}
