{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
<main role="main">

  <div class="container mb-4">
    {% for user in user_list %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">  
           <li>
            <p>{{ user.first_name }}</p> ({{user.document}})
            <a href="{% url 'user:Administrador_editar' user.id  %}"> Editar </a>
          </li>                
          </div>
        </div>
        {% endfor %}        
      </div>         
  </div>
</main>
{% endblock %}
