{% extends 'core/base.html' %}
{% load static %}
{% block title %}Egresados{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
    {% for user in user_list %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">  
           <li>
            <p>{{ egresado.country }}</p> ({{user.document}})
            <a href="{% url 'user:Administrador_editar' user.id  %}"> Editar </a>
          </li>                
          </div>
        </div>        
      </div>      
    {% endfor %}
  </div>
</main>
{% endblock %}
