{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
<div class="col-md-9 mx-auto mb-5 bg-light">
<form action="" method="post"> {% csrf_token %}
<!-- Titulo del Registro de Usuario-->
<br>
<h3 class="mb-4 bg-info rounded border border-light text-dark" align="center"> 
    <img src="{% static 'core/img/acceso_Usuario/entrar.png' %}" width="40" height="40"> &nbsp BIENVENDIO AL PROCESO DE REGISTRO  
</h3>
<p class="sub-title text-dark">A continuación llena los campos correspondientes para poder registrar a un Usuario Administrador</p>
<!-- Fin Titulo del Registro de Usuario-->
            <!-- Imagen del Registro de Usuario-->
            <h2 class="d-none d-md-block texto-borde">
              <img src="{% static 'core/img/acceso_Usuario/admin2.png' %}" width="256" height="309" align="right">
               
            </h2>
            <h4><br></h4>
            <!-- Fin Imagen del Registro de Usuario-->                   
              {% for field in form %}
    <div class= "col-md-8 col-md-offset-2">
            <div class="form-group">
              {{field.errors}}
              {{field.label}} : 
              {{field}}
            </div>  
            </div>             
           {% endfor %}                        
      <p><input type="submit" class="btn btn-success btn-block" value="Confirmar"></p>
    </form>
    <br>
    </div>
</main>
{% endblock %}