{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}

<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
<section class="content-formegresado">
<h2 class="sub-title">BIENVENDIO AL PROCESO DE REGISTRO</h2><br><br> 
<form action="" method="post" class="bodyegresado">{% csrf_token %}   
    <div class="row ">                
                 
              {% for field in form %}
              <div class= "col-md-8 col-md-offset-2">
            <div class="form-group">
              {{field.label}}
              {{field}}
            </div>  
            </div>             
           {% endfor %}                        
      </div>
      <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
      </form>
    </section>
</main>

{% endblock %}